body {
  background: #c8e8ed;
}

.App {
  margin: 50px 50px 10px 400px;
  background: #f7fdb1;
  padding: 30px;
  border: 2px solid #ded473;
  border-radius: 15px;
  max-width: 40%;
  color: #8d8c8c;
}

.App ul li {
  list-style: none;
}

.App h1 {
  padding: 15px;
}

.temp {
  font-size: 80px;
  color: #8d8c8c;
}

.footer {
  color: rgb(64, 63, 63);
  font-size: 12px;

  text-align: center;
}
canvas {
  padding: 0px 15px;
}

.unit {
  font-size: 25px;
  color: #8d8c8c;
  position: fixed;
}
.unit a {
  text-decoration: none;
  color: #b9a809;
}
